<div class="toast-stack" id="toast-stack"></div>
<%- include('../../../../views/shared/notification-center') %>
<script>window.firebaseWebConfig = <%- JSON.stringify(firebaseConfig || {}) %>;</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.5/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.5/firebase-messaging-compat.js"></script>
<script src="/js/shared/script.js"></script>
