MONGO_URI=mongodb+srv://<username>:<password>@<cluster-host>/faceAttendance?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=<cloud-name>
CLOUDINARY_API_KEY=<api-key>
CLOUDINARY_API_SECRET=<api-secret>
